
/* custom styles */

/* fit for mobile devices */
@media (max-width: 767px) {
    #navigation {
        padding: 40px 0 0 0;
    }

    .navbar-custom ul.nav li a {
       color: #444;
    }
}

.navbar {
    /*padding: 10px 0;*/
    min-height: 10px;
}

/* nav bar */
.navbar-custom ul.nav li a {
    font-size: 12px;
}

.navbar-toggle {
    float: left;
}

/*
key to not let nav bar flows to second line,
and hide optional texts on small devices
*/
@media (max-width: 990px) {
    .optional {
        display: none !important;
    }
}

/*
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}*/

#navigation {
    /*width: 960px;*/
    /*width: 60%;*/
    position: fixed;
}

/* pages */
.page {
    /*width: 960px;*/
    /*width: 60%;*/
    padding: 0;
}

.container {
}

.advisor {
	margin-bottom: 50px;
}

.member {
	text-align: left;
	margin-bottom: 30px;
}

.eventLink {
    color: #0066cc;
}

.titleLink {
    color: #CACABC;
}

.noteLink {
    color: #c83539;
}

.storyLink {
    color: #000066;
}