
/* custom styles */

/* fit for mobile devices */
@media (max-width: 768px) {
    #navigation {
        padding: 40px 0 0 0;
    }

    .navbar-custom ul.nav li a {
       color: #444;
    }
}

.navbar {
    /*padding: 10px 0;*/
    min-height: 10px;
}

/* nav bar */
.navbar-custom ul.nav li a {
    font-size: 12px;
}

.navbar-collapse {
    /*padding-top: 20px;*/
}

#navigation {
    /*width: 960px;*/
    /*width: 60%;*/
    position: fixed;
}

/* pages */
.page {
    /*width: 960px;*/
    /*width: 60%;*/
    padding: 0;
}

.container {
}

.advisor {
	margin-bottom: 50px;
}

.member {
	text-align: left;
	margin-bottom: 30px;
}

.eventLink {
    color: #0066cc;
}

.titleLink {
    color: #CACABC;
}

.noteLink {
    color: #c83539;
}

.storyLink {
    color: #000066;
}