
/* custom styles */
.advisor {
	margin-bottom: 50px;
}

.navbar {
	/*padding: 10px 0;*/
}

.navbar-custom ul.nav li a {
	font-size: 12px;
}

.navbar-collapse {
	/*padding-top: 20px;*/
}

.container {
	/*width: 960px;*/
    width: 100%;
}

#navigation {
	/*width: 960px;*/
    position: fixed;
    width: 60%;
}

.page {
	/*width: 960px;*/
    width: 60%;
	padding: 0;
}

.member {
	text-align: left;
	margin-bottom: 30px;
}

.titleLink {
    color: #CACABC;
}

.noteLink {
    color: #c83539;
}

.storyLink {
    color: #000066;
}